.form {
  &__group:not(:last-child) {
    margin-bottom: 3rem;
  }
  &__input {
    display: block;
    font-size: $default-font-size;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 0.3rem;
    opacity: 0.8;
    width: 40%;

    border-bottom: 0.3rem solid transparent;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
      border-bottom: 0.3rem solid $color--dark-green;
    }

    &:focus:invalid {
      border-bottom: 0.3rem solid $color--secondary-dark;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0.7rem 0 0 2rem;
    display: block;
    transition: all 1s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translatY(-4rem);
  }

  //   Radio button
  &__radio-group {
    display: inline-block;
  }
  &__radio-label {
    font-size: 1.8rem;
    cursor: pointer;
    position: relative;
    padding-right: 5rem;
  }

  &__radio--button {
    height: 2.4rem;
    width: 2.4rem;
    border: 0.5rem solid $color--dark-green;
    border-radius: 50%;
    display: block;
    position: absolute;
    transform: translateX(-2rem);
    top: 0;
    left: -1rem;

    &::after {
      content: "";
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      background-color: $color--dark-green;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }

  &__radio-input {
    color: $color--dark-green;
    cursor: pointer;
    opacity: 0;
  }

  &__radio-input:checked ~ &__radio-label &__radio--button::after {
    opacity: 1;
  }
}
