.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.3);
  border-radius: 0.5rem;
  padding: 6rem;
  font-size: $default-font-size;
  transform: skewX(-7deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    background-color: royalblue;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(7deg);
    &--img {
      height: 100%;
    }
  }
  &__text-box {
    transform: skewX(7deg);
  }
}
