@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }

  80% {
    opacity: 1;
    /* transform: rotate(180deg); */
    transform: translateX(10%);
  }

  95% {
    opacity: 1;
    transform: translateY(-10%);
    /* transform: rotate(-180deg); */
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    /* transform: rotate(-180deg); */
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }

  80% {
    opacity: 1;
    /* transform: rotate(180deg); */
    transform: translateX(-10%);
  }

  95% {
    opacity: 1;
    transform: translateY(20%);
    /* transform: rotate(-180deg); */
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    /* transform: rotate(180deg); */
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  80% {
    opacity: 1;
    /* transform: rotate(180deg); */
    transform: translateY(-10%);
  }

  95% {
    opacity: 1;
    transform: translateX(20%);
    /* transform: rotate(-180deg); */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* transform: rotate(180deg); */
  }
}

.section-home {
  .u-center-text:hover {
    transform: skewX(-10deg) skewY(-2deg);
  }
}
