.u-center-text {
  text-align: center;
}
.u-margin-bottom-small {
  margin-bottom: 1.2rem !important;
}
.u-margin-bottom-midum {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 15rem !important;
}
